<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTTS7U0710NWIxSsYWsf_u_jbJaBQ1gHg</string>
	<key>GCM_SENDER_ID</key>
	<string>577176332600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bruntzcreative.midwiferyAntenatalData.stg</string>
	<key>PROJECT_ID</key>
	<string>midwifery-antenatal-data-734ba</string>
	<key>STORAGE_BUCKET</key>
	<string>midwifery-antenatal-data-734ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577176332600:ios:fb4e83d4583d690a7079cd</string>
</dict>
</plist>